<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <title>Chatapp</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main id="loginroom">
        <h1>Kies een naam</h1>
        <section class="box-login">
            <form id="name-form" action="/chat" method="GET">
                <input id="username" name="username" autocomplete="off" />
                <button>send</button>
            </form>
        </section>
    </main>
    <script src="/socket.io/socket.io.js"></script>
    <script src="main.js"></script>
    <!-- <script src="whiteboard.js"></script> -->
</body>
</html>